<h1>All Observations</h1>

<%= paginate @observations %>

      <ol class="observations">
        <%= render @observations %>
      </ol>

<!-- <ul> -->
<!--   <% @observations.each do |observation| %> -->
<!--   <li> -->
<!--     <%= link_to "blah", observation %> -->
<!--     <% if observation.pic.attached? %> -->
<!--     <% end %> -->
    
<!--   </li> -->
<!--   <% end %> -->
<!-- </ul> -->

<% if logged_in? %>
<%= link_to "New Observation", new_observation_path %>
<% end %>
<p>
<!-- <%= link_to "Sign up now!", '#', class: "btn btn-lg btn-primary" %> -->
