<h1>New User</h1>

<%= form_with model: @user do |form| %>
  <div>
    <%= form.label "Username*" %>
    <%= form.text_field :username, required: true %><br>
    For login. Displayed along with observations.<p>
  </div>

  <br>

  <div>
    <%= form.label "Email*" %>
    <%= form.text_field :email, required: true %><p>
  </div>

  <br>

  <div>
    <%= form.label :displayname %> <%= form.text_field :displayname %><br>
    Displayed on your profile. This is where your real name should go if you want to share it.<br>
    <p>
  </div>

  <br>
  <!-- <div> -->
  <!--   <%= form.label :bio %><br> -->
  <!--   <%= form.text_area :bio %><p> -->
  <!-- </div> -->

  <div>
    <%= form.label "Password*" %>
    <%= form.password_field :password, required: true %><p>
  </div>

  <div>
    <%= form.label :password_confirmation, "Confirmation*" %>
    <%= form.password_field :password_confirmation, required: true %><p>
  </div>

  <div>
    <%= form.submit "Create account" %>
  </div>
<% end %>

