<h1>SymmetryCat</h1>

<center>
<a href="https://www.symmetrycat.org">SymmetryCat</a> allows you to
upload pictures and classify them according to the amount of symmetry
they have.<br> Think of it
as <a href="https://www.inaturalist.org/">iNaturalist</a> but for
symmetry instead of for species.
</center>

<center>
<%= image_tag("shirt-rb-sm.jpg", width: "20%") %>
<%= image_tag("floral-chair-sm.jpg", width: "20%") %>
<%= image_tag("cushion-sm.jpg", width: "20%") %>
</center>
<br>

If you're new to this site, <%= link_to "Click here", help_path %> for general information.
<br>

<% if logged_in? %>
<ul>
  <li> <%= link_to "Add new observation", new_observation_path %></li>
  <li> <%= link_to "Show my observations", current_user %></li>
  <li> <%= link_to "Show all observations", observations_path %>
</ul>    
<% else %>
  <ul>
    <li> <%= link_to "Sign up", signup_path %>
    <li> <%= link_to "Log in", login_path %>
  </ul>
<% end %>



